<% include ../partials/header %>

<div class="container main">
    <h1>All Bets</h1>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Match ID</th>
            <th>Game</th>
            <th colspan="2">League</th>
            <th>Match Start Time</th>
            <th colspan="2">Home Team</th>
            <th colspan="2">Away Team</th>
            <th>Bet Amount (in ether)</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i < bets.length; i++) { %>
        <tr>
            <td><a href="/bets/<%= bets[i]._id %>"><%= bets[i].matchId %></a></td>
            <td><%= bets[i].videogame %></td>
            <td><%= bets[i].league %></td>
            <td><img width="75em" height="75em" src="<%= bets[i].league_imageurl %>"></td>
            <% if (bets[i].begin_at) { %>
            <td><%= bets[i].begin_at %></td>
            <% } else { %>
            <td>Time not finalized</td>
            <% } %>
            <td><%= bets[i].opponent1_name %></td>
            <td><img width="75em" height="75em" src="<%= bets[i].opponent1_imageurl %>"></td>
            <td><%= bets[i].opponent2_name %></td>
            <td><img width="75em" height="75em" src="<%= bets[i].opponent2_imageurl %>"></td>
            <td><%= bets[i].betAmount %></td>
            <td><%= bets[i].author.username %></td>
            <td>
                <form action="/bets/<%= bets[i]._id %>?_method=DELETE" method="POST">
                    <button class="ui red basic button">Delete</button>
                </form>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>

<% include ../partials/footer %>