<% include ../partials/header %>

<div class="ui main text container">
    <h1>New Bet</h1>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Game</th>
            <th colspan="2">League</th>
            <th>Start Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><%= match[0].videogame.name %></td>
            <td><%= match[0].league.name %></td>
            <td><img width="75em" height="75em" src="<%= match[0].league.image_url %>"></td>
            <% if (match[0].begin_at) { %>
            <td><%= match[0].begin_at %></td>
            <% } else { %>
            <td>Time not finalized</td>
            <% } %>
        </tr>
        </tbody>
    </table>

    <table class="ui celled table">
        <thead>
        <tr>
            <th colspan="2">Home Team</th>
            <th colspan="2">Away Team</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <% for(var j=0; j < match[0].opponents.length; j++) { %>
            <td><%= match[0].opponents[j].opponent.name %></td>
            <td><img width="75em" height="75em" src="<%= match[0].opponents[j].opponent.image_url %>"></td>
            <% } %>
        </tr>
        </tbody>
    </table>

    <form class="ui form" name="submitBet" action="/bets" method="POST">
        <div class="field inverted">
            <label>Match ID</label>
            <input type="text" readonly id="matchId" name="bet[matchId]" value="<%= match[0].id %>">
        </div>
        <div class="field">
            <label>Bet Amount (in ether)</label>
            <input type="text" id="betAmount" name="bet[betAmount]" placeholder="Bet Amount (in ether)">
        </div>

        <!-- TODO values  teamname -> int to string in contract! -->
        <!-- TODO values to teamname only mapping between teamname for contract!!!! -->
        <div class="field">
            <label>Team</label>
            <select id="team4bet" class="dropdown">
                <option value="">Choose your Team</option>
                <option value="0"><%= match[0].opponents[0].opponent.name %></option>
                <option value="1"><%= match[0].opponents[1].opponent.name %></option>
            </select>
        </div>

        <!-- TODO check if there is a better possibility to add hidden fields! -->
        <!-- TODO clean up fields from what is really used and what not -->
        <input type="hidden" name="bet[videogame]" value="<%= match[0].videogame.name %>">
        <input type="hidden" name="bet[league]" value="<%= match[0].league.name %>">
        <input type="hidden" name="bet[league_imageurl]" value="<%= match[0].league.image_url %>">
        <input type="hidden" name="bet[begin_at]" value="<%= match[0].begin_at %>">
        <input type="hidden" name="bet[opponent1_name]" value="<%= match[0].opponents[0].opponent.name %>">
        <input type="hidden" name="bet[opponent1_imageurl]" value="<%= match[0].opponents[0].opponent.image_url %>">
        <input type="hidden" name="bet[opponent2_name]" value="<%= match[0].opponents[1].opponent.name %>">
        <input type="hidden" name="bet[opponent2_imageurl]" value="<%= match[0].opponents[1].opponent.image_url %>">
        <input type="hidden" name="bet[contract_address]" id="deployedContractAddress">
        <input type="hidden" name="bet[set_team]" id="set_team">
        <input type="hidden" name="bet[open_team]" id="open_team">

    </form>

    <button class="ui button" id="deployContractButton">Deploy Contract</button>

    <div id="loader" hidden>
        <div class="ui active inverted dimmer" >
            <div class="ui text loader">
                Deploying Contract...<br><br>
                <span id="loaderLink"></span>
            </div>
        </div>
    </div>

</div>

<!-- TODO check for possibility and what makes sense to include different footers related to include files -->
<script type="text/javascript" src="../../web3/dist/web3.min.js"></script>
<script type="text/javascript" src="../../scripts/newBet.js"></script>
</body>
</html>

