<% include ../partials/header %>

<div class="ui main text container">
    <h1>Bet</h1>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Game</th>
            <th colspan="2">League</th>
            <th>Start Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><%= match.videogame %></td>
            <td><%= match.league %></td>
            <td><img width="75em" height="75em" src="<%= match.league_imageurl %>"></td>
            <% if (match.begin_at) { %>
            <td><%= match.begin_at %></td>
            <% } else { %>
            <td>Time not finalized</td>
            <% } %>
        </tr>
        </tbody>
    </table>

    <table class="ui celled table">
        <thead>
        <tr>
            <th colspan="2">Home Team</th>
            <th colspan="2">Away Team</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><%= match.opponent1_name %></td>
            <td><img width="75em" height="75em" src="<%= match.opponent1_imageurl %>"></td>
            <td><%= match.opponent2_name %></td>
            <td><img width="75em" height="75em" src="<%= match.opponent2_imageurl %>"></td>
        </tr>
        </tbody>
    </table>

    <div id="deployedContract">

        <div class="ui fluid form">
            <div class="inline field">
                <div class="ui right pointing label">
                    Contract Address on Etherscan
                </div>
                <input id="deployedContractAddress" size="50" readonly type="text" value="<%= match.contract_address %>">
            </div>

            <div class="inline field">
                <div class="ui right pointing label">
                    Bet Amount:
                </div>
                <input id="betAmount" readonly type="text" value="<%= match.betAmount %>">
            </div>
        </div>

        <input type="hidden" name="open_team" id="open_team" value="<%= match.open_team %>">

        open_team

        <div class="ui inverted divider"></div>
        <button class="ui button" id="takeBetButton">Take Bet on Team <%= match.open_team %></button>
        <button class="ui negative basic button" id="setWinnerTeam0Button">Set Winner Team 0</button>
        <button class="ui negative basic button" id="setWinnerTeam1Button">Set Winner Team 1</button>
    </div>

    <div class="ui comments">
        <h3 class="ui header">Comments</h3>
        <div>
            <% match.comments.forEach(function(comment) { %>
            <div class="comment">
                <div class="content">
                    <a class="author"><%= comment.author.username %></a>
                    <div class="metadata">
                        <span class="date"><%= comment.created %></span>
                    </div>
                    <div class="text">
                        <%= comment.text %>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>


    <form class="ui reply form" action="/bets/<%= match._id %>/comments/new" method="POST">
        <div class="field">
            <textarea name="comment[text]"></textarea>
        </div>
        <button class="ui button" type="submit">New Comment</button>
    </form>

</div>

<!-- TODO check for possibility and what makes sense to include different footers related to include files -->
<script type="text/javascript" src="../../web3/dist/web3.min.js"></script>
<script type="text/javascript" src="../../scripts/showBet.js"></script>
</body>
</html>

